UVC cameras
SUBSYSTEMS=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="00f8", MODE="0666"
# ^ Change the vendor and product IDs to match your camera.